.Home {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.introImg {
  max-width: 60%;  /* 화면에 맞춰 줄어듦 */
  max-height: 60%; /* 화면에 맞춰 줄어듦 */
  width: 600px;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 25px;
}

.loginBtn{
  margin: 0 auto;
  margin-top: clamp(10px, 6vh, 30px);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 2.5vw;
}

.loginBtn button {
  background-color: transparent;
  border: 0;
  cursor: pointer;

  color: #595959;
  font-family: Pretendard;
  font-size: clamp(10px, 4vw, 20px);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.loginBtn span {
  color: #595959;
  font-family: Chokokutai;
  font-size: clamp(13px, 4vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}