.headerdiv {
    text-align: right;
    /* ✅ 오른쪽 정렬 */
    margin: 0 320px;
}

.title {
    color: #91A788;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Partial Sans KR";
    font-size: clamp(32px, 8vw, 70px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-right: 70px;
    cursor: pointer;
}

.headerR {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: auto;
}

.cart {
    width: 50px;
    height: 50px;
    object-fit: contain;
    text-align: right;
    margin-top: 40px;
}
.topbar{
    height: 28px;
    background: #91A788;
}