.header {
    text-align: right;     /* ✅ 오른쪽 정렬 */
    margin: 0 320px;
}

.title {
    color: #91A788;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Partial Sans KR";
    font-size: clamp(32px, 8vw, 70px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    margin-bottom: 20px;
    margin-top: 40px;
    cursor: pointer;
}

.headerdiv {
    padding-top: 30px;
    min-width: 700px;
}
.topbar{
    color: #91A788;
    height: 28px;
    width: 100%;
}