.login {
    width: 860px;
    height: 560px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(151, 151, 151, 0.13);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    margin: 0 auto;
    margin-top: 100px;
}