.loginContain {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.login {
    position: relative !important;
    width: clamp(280px, 50vw, 800px);
    height: clamp(200px, 50vh, 500px);
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(151, 151, 151, 0.13);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    margin: 0 auto;
    margin-top: clamp(40px, 10vh, 100px);
    padding-top: clamp(20px, 6vh, 60px);
}

.loginElement {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.inputRow {
    display: flex;
    align-items: center;
}

.loginTitle {
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 120px;
    text-align: center;
    margin-left: 50px;
}

.loginElement .loginInput {
    width: 50%;
    height: 45px;
    padding: 0 25px;

    border: none;
    border-radius: 15px;

    background: rgba(151, 151, 151, 0.50);
    /* 연한 회색 배경 */
    box-shadow: inset 3px 3px 6px rgba(106, 106, 106, 0.2),
        inset -3px -3px 6px rgba(220, 220, 220, 0.7);
    font-size: 15px;
    color: #333;
    outline: none;
    transition: box-shadow 0.2s ease, background 0.2s ease;

    margin-left: 50px;
    margin-bottom: 20px;
}

.loginInput::placeholder {
    text-align: right;
}

.loginT{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: clamp(20px, 6vw, 60px);
    margin-bottom: clamp(50px, 15vh, 80px);
    color: #000;
    font-family: Pretendard;
    font-size: clamp(20px, 6vw, 30px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.bottomBar {
    display: flex;
    align-items: center;
}

.next{
     background-color: transparent;
    border: 0;
    color: #979797;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    margin-left: auto;
    margin-right: 30px;
}

.centerGroup {
    display: flex;
    justify-content: center;
    flex: 1;
    /* 가운데 그룹이 중앙을 차지하도록 */
    gap: 20px;
    /* "이미 회원이라면?" 과 "로그인" 간격 */
}

.notMember{
    color: #000;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.moveRegis {
    color: #0D12FF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
