.mainWrapper{
    display: flex;
    flex-direction: column;
    margin: 0;
    /* margin-top: 15px; */
    padding: 0;
    min-width: 700px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.folderContainer{
    /* position: relative; */
    width: clamp(300px, 65vw, 1000px);
    height: clamp(200px, 80vh, 1000px);
    margin: 0 auto;

    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;

    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.messageHeader{
    display: flex;
    align-items: center;
    gap: 12px;
}

.messageImg{
    width: 7%;
    height: auto;
    margin-top: clamp(20px, 10vh, 100px);
    margin-left: clamp(20px, 5vw, 60px);
}

.messageTitle{
    margin-top: clamp(20px, 12vh, 120px);
}

.headerHr{
    width: 60%;
    margin: 10px 0;
    margin-left: clamp(20px, 5vw, 50px);
    border: none;
    border-top: 1.5px solid #7a7a7a;
}

.messageList {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;      /* ✅ 폴더 컨테이너 기준 */
    height: 60%;
    overflow-y: auto;
}

.messageList::-webkit-scrollbar {
    width: 6px;
}

.messageCard {
    display: flex;
    align-items: flex-start;
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
    width: 100%;      /* ✅ 리스트 안에서 가득 */
    box-sizing: border-box; /* padding 포함 */
}

.profileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.messageContent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.messageTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messageTitleText {
    font-weight: 600;
    margin-right: 6px;
}

.messagePeople {
    color: #555;
    font-size: 14px;
    margin-right: auto;
}

.messageTime {
    font-size: 12px;
    color: #888;
}

.messageBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
}

.latestMessage {
    font-size: 14px;
    color: #666;
}

.unreadBadge {
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
}