.regisContain {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* margin-top: 30px; */
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.register {
    position: relative !important;
    width: clamp(280px, 50vw, 800px);
    height: clamp(200px, 55vh, 600px);
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(151, 151, 151, 0.13);
    border: 0.5px solid rgba(151, 151, 151, 0.4);
    margin: 0 auto;
    margin-top: clamp(40px, 10vh, 70px);
    padding-top: clamp(20px, 6vh, 60px);
    display: flex;
    flex-direction: column;
}

.signup {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: clamp(20px, 6vw, 60px);
    gap: 1vw;
    margin-bottom: 2vh;
}

.big {
    color: #000;
    font-family: Pretendard;
    font-size: clamp(20px, 6vw, 30px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.small {
    color: #000;
    font-family: Pretendard;
    font-size: clamp(8px, 2vw, 20px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.regisElement {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}

.inputRow {
    display: flex;
    align-items: center;
}

.inputR {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.regisTitle {
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 120px;
    text-align: center;
    margin-left: 50px;
}

.regisElement .regisInput {
    width: 50%;
    height: 45px;
    padding: 0 25px;

    border: none;
    border-radius: 15px;

    background: rgba(151, 151, 151, 0.50);
    /* 연한 회색 배경 */
    box-shadow: inset 3px 3px 6px rgba(106, 106, 106, 0.2),
        inset -3px -3px 6px rgba(220, 220, 220, 0.7);
        border: 0.5px solid rgba(151, 151, 151, 0.7);

    font-size: 15px;
    color: #333;
    outline: none;
    transition: box-shadow 0.2s ease, background 0.2s ease;

    margin-left: 50px;
}

.regisInput::placeholder {
    text-align: right;
}

.messageBox {
    min-height: 20px;
}

#warning {
    font-size: 13px;
    color: red;
    margin-left: 220px;
}

#safe {
    font-size: 13px;
    color: green;
    margin-left: 220px;
}

.bottomBar {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px;
    justify-content: center;
}

.prev{
    position: absolute;
    left: 30px;
     background-color: transparent;
    border: 0;
    color: #979797;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    /* margin-left: auto;
    margin-right: 30px; */
}
.next{
    position: absolute;
    right: 30px;
     background-color: transparent;
    border: 0;
    color: #979797;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    /* margin-left: auto;
    margin-right: 30px; */
}

.prev {
    margin-left: 30px;
}

.next {
    margin-left: auto;
    margin-right: 30px;
}

.centerGroup {
    display: flex;
    justify-content: center;
    /* flex: 1; */
    /* 가운데 그룹이 중앙을 차지하도록 */
    gap: 10px;
    /* "이미 회원이라면?" 과 "로그인" 간격 */
}

.alreadyRegis {
    color: #000;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.moveLogin {
    color: #0D12FF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.genderGroup {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 40px;
}

.ageSelect {
    padding: 5px 10px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: rgba(151, 151, 151, 0.4);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.interestGroup {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    color: #494949;
}

.interestBtn {
    background: #d2e5cd;
    border: none;
    height: 40px;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    /* box-shadow: inset 3px 3px 6px rgba(106, 106, 106, 0.2),
        inset -3px -3px 6px rgba(220, 220, 220, 0.7); */
        border: 0.5px solid rgba(151, 151, 151, 0.4);

}

.interestBtn.selected {
    background: #91A788;
    color: #ffffff;
}

.map {
    width: 20vw;
    height: 25vh;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    overflow: hidden;
}

.inputAddress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-left: 43px;
  margin-bottom: 15px;
  gap: 10px;
}

.address {
  width: 23vw;
  border: none;
  border-bottom: 2px solid #999;
  outline: none;
  padding: 6px 4px;
  font-size: 16px;
  background: transparent;
}

.searchBtn {
  width: 3vw;
  height: 3vh;
  border-radius: 30px;
  border: none;
  background: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.2),
              inset -2px -2px 5px rgba(255,255,255,0.7);
}

.searchBtn:hover {
  background: #d6d6d6;
  transform: scale(1.05);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2),
              inset -1px -1px 3px rgba(255,255,255,0.7),
              0 4px 8px rgba(0,0,0,0.2);
}

.searchBtn img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.step4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.firework{
    width: 18vw;
    height: 30vh;
    margin-top: 0;
}

.congratulation p{
    font-size: 20px;
    font-weight: bold;
    margin: 4px 0;
}

.congratulation p:last-child{
    margin-bottom: 50px;
}
